// fonts
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// variables
$bg: #3A3A3A;
$light-bg: #414141;
$accent: #fed259;
$white: #e1e1e1;
$gray: #bfbfbf;


.bitter{
  font-family: 'Bitter', serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
.source{
  font-family: 'Source Code Pro', monospace;
}

.center{
  justify-items: center;
}

.accent{
  color: $accent;
}
.gray{
  color: $gray;
}


/*---------------------------------------- DEFAULT ----------------------------------------*/
html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  background: $bg;
  color: $white;

  a{
    cursor: pointer;
    text-decoration: none;
  }

  .button{
    cursor: pointer;
    background-color: transparent;
    color: $accent;
    font-weight: 700;

    transition: ease-in-out 0.1s;

    &:hover{
      background-color: $accent;
      color: $bg;
    }

  }

  .link{   
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;

    font-weight: 500;
    background: -webkit-linear-gradient(50deg, $accent, #ffa127);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: 0.2s ease-in-out;

    &::before{
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      transform: translateY(calc(100% - 2px));
      width: 100%;
      height: 100%;
      background-image: linear-gradient(60deg, $accent, $white);
      transition: transform .25s ease-out;
    }

    &:hover{
      background: -webkit-linear-gradient(100deg, $accent, $white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

  }

  .button_extra{
    display: block;
    text-align: center;
    transition: 0.3s ease-in-out;

    i{
      color: $bg;
      position: absolute;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }

    span{padding-right: 0;}

    &:hover{

      span{
        color: $bg;
        transition: 0.2s ease-in-out;
      }

      i{
        position: relative;
        opacity: 1;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .error{
    color: #dd5353;
  }
  .success{
    color: $accent;
  }

  .label{
    display: inline-block;
    background-color: $accent;
    color: $light-bg;
  }
  .label-light{
    display: inline-block;
    background-color: transparent;
    border: 2px solid $accent; 
    color: $accent;
  }

  .red{
    background-color: #dd5353;
  }
  .blue{
    background-color: #537fdd;
  }
  .light-blue{
    background-color: #57e4e9;
  }
  .green{
    background-color: #5af59a;
  }
  .purple{
    background-color: #8853dd;
  }
  .pink{
    background-color: #f182ad;
  }

  .red-light{
    color: #dd5353;
    border-color: #dd5353;
  }
  .blue-light{
    color: #537fdd;
    border-color: #537fdd;
  }
  .light-blue-light{
    color: #57e4e9;
    border-color: #57e4e9;
  }
  .green-light{
    color: #5af59a;
    border-color: #5af59a;
  }
  .purple-light{
    color: #8853dd;
    border-color: #8853dd;
  }
  .pink-light{
    color: #f182ad;
    border-color: #f182ad;
  }

  
  .easteregg,.nowplaying{
    position: fixed;
    padding: 2vh 1vw;
    border-radius: 8px;
    background-color: #242424;
    z-index: 2000;

    transform: translate(0,-15vh);
    right: 1vh;
    transition: 0.3s ease-in-out;

    *{
      color: $white;
      background: none;
      border: none;
      font-size: 1.2em;
      display: inline;
    }
    button{padding-right: 15px;}
    span{
      font-size: 1em;
    }
    a{
      color: $accent;
      font-weight: 300;
    }

  }

  header{

    background-image: linear-gradient(180deg, rgba(58,58,58,0.9) 0%, rgba(58,58,58,1) 80%, rgba(58,58,58,1) 100%),
    url(assets/img/mainbg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    nav{
      display: grid;

      &::after {
        content: "";
        position: absolute;
        background: $white;
        height: 1px;
        width: 80vw;
      }

      .logo{
        a{
          color: inherit;
        }
      }

    }

    .banner{
      color: $white;
    }

    .banner-404{
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      h1{
        margin: 0;

        font-size: 4em;
        font-weight: 400;

        span{
          font-weight: 600;
        }

      }

      h2{
        font-size: 1.2em;
        margin: 1vh 0 5vh;
      }

    }

    .scroll{
      width: 100vw;
      text-align: center;

      a{
        color: inherit;
        h1{
          font-weight: 300;
        }
  
        i{
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
        }
      }
    }

  }
  
  
  .avatar{
    display: grid;
    grid-template-columns: 1fr;

    img{
      z-index: 1;
    }

    &::before{
      content: '';
      position: absolute;
      background-color: $white;
      transform: rotate(23deg);
      transition: ease 0.6s;
    }

    &:hover::before{
      transform: rotate(228deg);
      background-color: $accent;
      transition: ease 1.2s;
    }

  }

  
  .acc{
    
    *{
      color: $white;
      &:hover{
        transition: ease-in-out 0.2s;
        color: $accent;
      }
    }

    

    a:first-child{
      
      &::before{
        content: '';
        position: absolute;
        background: $white;
        border-radius: 100%;
        opacity: 0;
      }

      &:hover::before{
        background: $accent;
        transition: ease-in-out 0.1s;
        opacity: 1;
      }
      
    }

    .line{
      content: '';
      width: 2px;
      background: $white;
    }

  }


  .container{
    h4{
      color: $accent;
    }

    .skill{
      h1{
        text-align: center;
      }
      a{
        color: inherit;
        cursor: auto;
      }

      .link{
        cursor: pointer;
      }

      .cards{
        display: grid;

        .card{
          background: rgb(82,78,70);
          background: linear-gradient(232deg, rgba(82,78,70,1) 0%, rgba(65,65,65,1) 40%); 

          -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.1);
          -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.1);
          box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.1);

          h1{
            text-align: left;
          }

          .pr-border{
            width: 100%;
            background-color: $bg;
          }
          .pr{
            background-color: $accent;
            height: 100%;
          }
        }

      }
    }


    .work{
      background-image: linear-gradient(180deg, rgba(58,58,58,1) 0%, rgba(58,58,58,0.9) 50%, rgba(58,58,58,1) 100%),
      url(assets/img/workbg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .cards{
        display: grid;

        *{
          height: fit-content;
        }

        .card{
          
          cursor: pointer;

          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;

          -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.3);
          -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.3);

          color: $white;

          transition: ease-in-out 0.2s;

          *{
            margin: 0;
          }

          div{
            background: $light-bg;
            background: linear-gradient(0deg, $light-bg 20%, rgba(65,65,65, 0.5) 70%, rgba(65,65,65,0) 100%);
            
          }
  
          &:hover{
            color: $white;

            -webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.5);

            transition: ease-in-out 0.5s;
          }
  
        }
      }

    }


    .about{
      h1{
        text-align: center;
      }

      .me{
        display: grid;
        align-items: center;
        
        img{
          border: 5px solid $accent;
          height: auto;
        }
      }
    }


    .contact{
      background-image: linear-gradient(180deg, rgba(58,58,58,1) 0%, rgba(58,58,58,0.9) 50%, rgba(58,58,58,1) 100%),
      url(assets/img/contactbg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .form{
        form{
          input, textarea{
            font-family: 'Source Code Pro', monospace;
            resize: none;
            border-radius: 15px;
            background: $bg;
            color: $white;
            box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
  
            &:focus{
              outline: none;
            }
  
            &::placeholder{
              font-family: 'Source Code Pro', monospace;
              color: $gray;
              font-style: italic;
            }
          }

          .button{
            grid-column: 2;
            margin-top: 3vh;
          }
        }

        .map{
          width: 100%;
          border: none;
          border-radius: 15px;
        }

      }

    }


  }


  footer{
    display: grid;
    position: relative;
    background: $light-bg;

    a{
      font-weight: 300;
      color: white;
      transition: ease-in-out 0.2s;
      &:hover{
        color: $accent;
      }
    }

    h1{
      font-weight: 400;
    }

    .links{
      display: grid;
    }

    .copyright{
      h1{
        font-weight: 600;
      }
      h2{
        font-weight: 400;
        color: $accent;
      }
      h3{
        font-weight: 400;
        color: $gray;
      }
    }
  }


}




/*---------------------------------------- Big Screens ----------------------------------------*/
@media (min-width: 600px) {

  $padding: 8vw;
  $radius: 10px;

  html, body{
    .button{
      border: 4px solid $accent;
      font-size: 1.5em;
      padding: 1vh 2vw;
    }
    .small{
      display: none;
    }

    .button_extra{
      width: 20vw;
      &:hover{
        span{
          padding-right: 20px;
        }
      }
    }

  }
  


  header{
    
    nav{
      grid-template-columns: 1fr 1fr;
      padding: 3vh 5vw;

      &::after{
        margin-top: 6vh;
        left: 10vw;
      }

      .logo{
        font-size: 2em;
      }
  
      .links{
        font-size: 1.2em;
        text-align: right;
  
        a{
          margin: 0 15px;
          color: $white;
        }
  
        a:hover{
          color: $accent;
          transition: ease-in-out 0.2s;
        }
      }
      
  
    }

    .banner{
      display: grid;
      grid-template-columns: 2fr 1fr;

      padding: 5vh $padding;

      h1{
        font-size: 4em;
        font-weight: 400;
        padding: 10vh 0 0 0;

        span{
          font-weight: 600;
        }

      }

      .avatar{

        img{
          width: 35vw;
          height: 35vw;
        }

        &::before{
          width: 25vw;
          height: 25vw;
          top: 22vh;
        }
      }

    }

    .banner-404{
      width: 40%;
      height: 100vh;
      margin: 0 30%;
    }
    
    .scroll{
      font-size: 2em;
      padding-bottom: 30vh;

      h1{
        font-size: 0.5em;
      }

    }
    
  }


  .acc{
    display: grid;
    grid-column: 1fr;
    position: fixed;
    bottom: 0;
    grid-gap: 0.5vw;

    width: 2vw;
    left: 3vw;
    
    *{
      font-size: 1.4em;
    }

    a:first-child{

      font-size: 1em;
      
      &::before{        
        width: 0.3em;
        height: 0.3em;
        
        left: 50%;
        margin-left: -0.14em;
        margin-top: -0.3em;
      }

      &:hover::before{
        opacity: 1;
        background: $accent;
      }
      
    }

    .line{
      height: 10vh;
    }

  }
  
  
  .container{

    h1{
      font-size: 8em;
      line-height: 0.3em; 
      margin-bottom: 15vh;
      span{
        color: $accent;
        font-size: 0.3em;
      }
    }
    h2{
      font-size: 3em;
      font-weight: 500;
    }
    h3{
      font-size: 1.3em;
      font-weight: 400;
    }
    h4{
      font-size: 1em;
      font-weight: 300;
    }

    .skill{
      padding: 30vh $padding;
      padding-bottom: 40vh;
      .cards{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 15vh 10vw;
        grid-gap: 5vw;

        .card{
          padding: 2vh 2vw 15vh;
          border-radius: 20px;
          
          h1{
            font-size: 2em;
            font-weight: 500;
            margin-bottom: 10vh;
          }
          h2{
            font-size: 1.3em;
            font-weight: 400;
            margin: 1em 0 0;
          }

          .pr-border{
            height: 0.7vh;
          }

        }
      }
    }

    .work{
      padding: 30vh $padding;

      text-align: center;

      h1{
        text-align: center;
      }

      *:nth-child(even) {
        position: relative;
        top: 30%;
      }
        
      .cards{

        grid-template-columns: 1fr 1fr;
        grid-gap: 5vw;

        padding: 0 0 10vh;

        text-align: left;

        .card{
          padding-top: 25vh;
          border-radius: 16px 16px 20px 20px;

          div{
            padding: 20vh 2vw 2vh;
            border-radius: 0px 0px 16px 16px;

            h2{
              font-size: 6em;
              font-weight: 700;
            }

            .label{
              font-size: 0.8em;
              font-weight: 700;

              margin: 0 0 1vh;
              padding: 0.2vh 0.5vw;
              border-radius: 10px;
            }

          }

        }

      }

      .button{
        width: 12%;
        display: inline-block;
        i{
          padding: 0 0 0 0.8vw;
        }
      }


    }


    .about{
      padding: 30vh $padding;

      .me{
        grid-template-columns: 1fr 1fr;
      }

      .desc{
        h2{
          margin: 0 0 6vh 0;
        }
        h3{
          font-size: 1.5em;
          margin: 0 0 8vh 0;
        }

        .button_extra{
          width: 20vw;
        }

      }

    }


    .contact{
      padding: 30vh $padding;

      .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        
        form{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1.2vh 1vw;

          .name{grid-column: 1 1;}
          .email{grid-column: 1 1;}
          .subject{grid-column: 1 / span 2;}
          .message{grid-column: 1 / span 2;}

          input, textarea{
            border: 2px solid $bg;
            font-size: 1.2em;
  
            &:focus{
              border: 2px solid $accent;
            }
          }
          input{height: 3em; padding: 0 1vw;}
          textarea{height: 40vh; padding: 1vh 1vw;}
        }

        .map{
          height: 100%;
        }

      }

    }


  }


  footer{
    grid-template-columns: 60% 40%;
    padding: 5vh $padding;

    a{
      font-size: 1.2em;
    }

    h1{
      font-size: 1.7em;
    }

    .links{
      grid-template-columns: 1fr 1fr 1fr;

      div{
        *{
          display: table;
          line-height: 1.5em;
        }
      }

      .accounts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vh;
        width: 40%;
        text-align: center;
        font-size: 2.5vh;

        *{
          line-height: 1em;
        }
      }

    }

    .copyright{
      border-left: 1px solid rgba($gray,0.3 );

      .avatar{
        
        h1{
          font-size: 2em;
          line-height: 0em;
        }
        h2{
          font-size: 1.5em;
          line-height: 0em;
          padding-bottom: 3vh;
        }
        h3{
          font-size: 1em;
          line-height: 0em;
          padding-top: 3vh;
        }

        img{
          width: 15vw;
          height: 15vw;
        }
      }

    }

  }


}




/*---------------------------------------- Small Screens ----------------------------------------*/
@media (max-width: 600px) {

  $padding: 5vw;
  $radius: 10px;

  html, body{
    overflow-x: hidden;
    .button{
      border: 3px solid $accent;
      font-size: 1.4em;
      padding: 1vh 10vw;
    }
    .big{
      display: none;
    }
    .button_extra{
      padding: 10px 0;

      &:hover{

        span{
          padding-right: 20px;
        }
      }
    }

    .easteregg,.nowplaying{
      top: 3vh;
      right: 2vw;
      width: 90vw;
      padding: 1vh 3vw;
      font-size: 0.9em;

      button{
        padding-right: 5px;
      }

    }

  }

  header{

    .button{
      margin-top: 10vh;
    }

    .sidebar{
      position: fixed;
      right: 0;
      width: 0;
      height: 100%;
      z-index: 1000;
      transition: 0.5s;

      background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.98) 0%,rgba(65, 65, 65, 0.85) 50%,rgba(65, 65, 65, 0.98) 100%),
      url(assets/img/sidebarbg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      text-align: right;

      button{
        font-size: 2em; 
        margin: 2vh 5vw;
      }

      a,button{
        color: $white;
        background: none;
        border: none;
        &:hover{
          color: $accent;
          transition: ease-in-out 0.2s;
        }
      }

      .container{
        padding: 0 $padding;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 8vh;
        height: 60%;
        margin: 20% 0;

        h1{font-size: 2.5em; font-weight: 500; margin-bottom: 2vh;}
        a{font-size: 1.5em; font-weight: 300;}

        div{
          text-align: center;
          display: grid;
          grid-template-columns: 1fr;
        }

        .accounts{
          text-align: center;
          display: inline-block;
          *{
            padding: 0 1vw;
            font-size: 1.4em;
          }
        }
      }

    }
    
    nav{
      position: fixed;
      width: -moz-available;
      width: -webkit-fill-available;
      grid-template-columns: 2fr 1fr;
      padding: 3vh 5vw;
      background: $bg;
      background: linear-gradient(180deg, #242424 0%, rgba(58,58,58,0) 100%); 
      z-index: 100;

      &::after{
        margin-top: 8vh;
        left: 10vw;
      }


      .logo{
        font-size: 2em;
      }
  
  
      .links{
        text-align: right;
        font-size: 1.5em;
  
        a, button{
          margin: 0 15px;
          color: $white;
        }
        button{
          background: none;
          border: none;
          font-size: 0.8em;
        }
  
        a:hover, button:hover{
          color: $accent;
          transition: ease-in-out 0.2s;
        }
      }      
  
    }

    .banner{
      display: grid;
      grid-template-columns: 1fr;

      padding: 13vh $padding 10vh;

      text-align: center;

      h1{
        font-size: 1.7em;
        font-weight: 400;

        span{
          font-weight: 600;
        }

      }

      .avatar{
        padding-top: 5vh;

        img{
          width: 70vw;
          height: 70vw;
        }

        &::before{
          width: 50vw;
          height: 50vw;
          top: 38vh;
        }
      }

    }

    .banner-404{
      width: 90%;
      height: 100vh;
      margin: 0 5%;
    }
    
    .scroll{
      font-size: 2em;
      padding-bottom: 30vh;

      h1{
        font-size: 0.5em;
      }

    }
    
  }

  .acc{
    display: none;
  }

  
  .container{

    h1{
      font-size: 5em;
      line-height: 0.3em; 
      margin-bottom: 15vh;
      span{
        color: $accent;
        font-size: 0.4em;
      }
    }
    h2{
      font-size: 2em;
      font-weight: 500;
    }
    h3{
      font-size: 1.2em;
      font-weight: 400;
    }
    h4{
      font-size: 1em;
      font-weight: 300;
    }

    .skill{
      padding: 5vh $padding;
      padding-bottom: 30vh;
      .cards{
        grid-template-columns: 1fr;
        padding: 10vh 0;
        grid-gap: 10vw;

        .card{
          padding: 5vh 8vw 15vh;
          border-radius: 20px;
          
          h1{
            font-size: 3em;
            font-weight: 500;
            margin-bottom: 10vh;
          }
          h2{
            font-size: 1.8em;
            font-weight: 400;
            margin: 1em 0 0;
          }

          .pr-border{
            height: 0.8vh;
          }

        }
      }
    }

    .work{
      padding: 5vh $padding 20vh;
      text-align: center;

      h1{
        span{
          display: inline-block;
        }
      }
        
      .cards{

        grid-template-columns: 1fr;
        grid-gap: 15vw;

        padding: 0 0 6vh;

        text-align: left;

        .card{
          padding-top: 25vh;
          border-radius: 16px 16px 20px 20px;

          div{
            padding: 10vh 5vw 3vh;
            border-radius: 0px 0px 16px 16px;

            h2{
              font-size: 5em;
              font-weight: 700;
            }

            .label{
              font-size: 0.8em;
              font-weight: 700;

              margin: 0 0 1vh;
              padding: 0.2vh 2.2vw;
              border-radius: 10px;
            }

          }

        }

      }

      .button{
        display: inline-block;
        width: 55%;
        i{
          padding: 0 0 0 2vw;
        }
      }

    }


    .about{
      padding: 10vh $padding;
      text-align: center;

      h1{
        display: inline-block;
        font-size: 4.5em;
      }

      .me{
        grid-template-columns: 100%;

        .pfp{
          width: -moz-available;
          width: -webkit-fill-available;
          img{
            width: inherit;
          }
        }

      }

      .desc{
        h2{
          margin: 6vh 0;
          text-align: left;
        }
        h3{
          font-size: 1.5em;
          margin: 0 0 8vh 0;
          text-align: left;
        }
        
      }
    }


    .contact{
      padding: 15vh $padding;
      text-align: center;

      h1{
        font-size: 3.7em;
      }

      .form{
        form{
          margin-bottom: 5vh;
          input, textarea{
            width: -moz-available;
            border: 2px solid $bg;
            font-size: 1.2em;
            margin: 1vh 0;
  
            &:focus{
              border: 2px solid $accent;
            }
          }
          input{height: 3em; padding: 0 5vw;}
          textarea{height: 30vh; padding: 2vh 5vw;}
          .button_extra{
            width: 100%;
          }
        }
        .map{
          height: 40vh;
        }

      }

    }


  }


  footer{
    grid-template-columns: 1fr;
    padding: 5vh $padding;
    text-align: center;

    a{
      font-size: 1.2em;
    }

    h1{
      font-size: 1.7em;
    }

    .links{
      grid-template-columns: 1fr;
      grid-gap: 5vh 0;

      div{
        *{
          display: block;
          line-height: 1.5em;
        }
      }

      .accounts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2vh;
        text-align: center;
        font-size: 2.5vh;

        *{
          line-height: 1em;
        }
      }

    }

    .copyright{
      border-top: 1px solid rgba($gray,0.3 );
      margin-top: 5vh;
      padding-top: 5vh;

      .avatar{
        
        h1{
          font-size: 2em;
          line-height: 0em;
        }
        h2{
          font-size: 1.5em;
          line-height: 0em;
          padding-bottom: 3vh;
        }
        h3{
          font-size: 1em;
          line-height: 0em;
          padding-top: 3vh;
        }

        img{
          width: 45vw;
          height: 45vw;
        }

      }

    }

  }

}


/*---------------------------------------- Animations ----------------------------------------*/
@mixin Bouce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  50%{
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0%{
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  @include Bouce;
}
@-webkit-keyframes bounce {
  @include Bouce;
}
@keyframes bounce {
  @include Bouce;
}