
// Bouce
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  50%{
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0%{
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  50%{
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0%{
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  50%{
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0%{
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


// Bouce-hover
@keyframes bounce-hover {
  100% {
    -moz-transform: translateY(-15px) rotate(360deg);
    -ms-transform: translateY(-15px) rotate(360deg);
    -webkit-transform: translateY(-15px) rotate(360deg);
    transform: translateY(-15px) rotate(360deg);
  }
  50% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  0%{
    -moz-transform: translateY(-15px) rotate(0);
    -ms-transform: translateY(-15px) rotate(0);
    -webkit-transform: translateY(-15px) rotate(0);
    transform: translateY(-15px) rotate(0);
  }
}
@-moz-keyframes bounce-hover {
  100% {
    -moz-transform: translateY(-15px) rotate(360deg);
    -ms-transform: translateY(-15px) rotate(360deg);
    -webkit-transform: translateY(-15px) rotate(360deg);
    transform: translateY(-15px) rotate(360deg);
  }
  50% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  0%{
    -moz-transform: translateY(-15px) rotate(0);
    -ms-transform: translateY(-15px) rotate(0);
    -webkit-transform: translateY(-15px) rotate(0);
    transform: translateY(-15px) rotate(0);
  }
}
@-webkit-keyframes bounce-hover {
  100% {
    -moz-transform: translateY(-15px) rotate(360deg);
    -ms-transform: translateY(-15px) rotate(360deg);
    -webkit-transform: translateY(-15px) rotate(360deg);
    transform: translateY(-15px) rotate(360deg);
  }
  50% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  0%{
    -moz-transform: translateY(-15px) rotate(0);
    -ms-transform: translateY(-15px) rotate(0);
    -webkit-transform: translateY(-15px) rotate(0);
    transform: translateY(-15px) rotate(0);
  }
}


// progress-bar
.pr-animation{
  animation: progress 1s ease-out 1;
}
@keyframes progress {
  100%{
  }
  0%{
    width: 0;
  }
}
@-moz-keyframes progress {
  100%{
  }
  0%{
    width: 0;
  }
}
@-webkit-keyframes progress {
  100%{
  }
  0%{
    width: 0;
  }
}


// fade-in
.fade-in {
  animation: fade-in 1.5s ease-in-out;
}
@keyframes fade-in {
  100%{
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  0%{
    -moz-transform: translateY(-5vh);
    -ms-transform: translateY(-5vh);
    -webkit-transform: translateY(-5vh);
    transform: translateY(-5vh);
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  100%{
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  0%{
    -moz-transform: translateY(-5vh);
    -ms-transform: translateY(-5vh);
    -webkit-transform: translateY(-5vh);
    transform: translateY(-5vh);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  100%{
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  0%{
    -moz-transform: translateY(-5vh);
    -ms-transform: translateY(-5vh);
    -webkit-transform: translateY(-5vh);
    transform: translateY(-5vh);
    opacity: 0;
  }
}