@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bitter {
  font-family: "Bitter", serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.source {
  font-family: "Source Code Pro", monospace;
}

.center {
  justify-items: center;
}

.accent {
  color: #fed259;
}

.gray {
  color: #bfbfbf;
}

/*---------------------------------------- Big Screens ----------------------------------------*/
@media (min-width: 600px) {
  html .button, body .button {
    border: 4px solid #fed259;
    font-size: 1.5em;
    padding: 1vh 2vw;
  }
  html .small, body .small {
    display: none;
  }
  html .button_extra, body .button_extra {
    width: 20vw;
  }
  html .button_extra span, body .button_extra span {
    padding-right: 0;
  }
  html .button_extra:hover span, body .button_extra:hover span {
    padding-right: 20px;
  }
  header nav {
    grid-template-columns: 1fr 1fr;
    padding: 3vh 5vw;
  }
  header nav::after {
    margin-top: 6vh;
    left: 10vw;
  }
  header nav .logo {
    font-size: 2em;
  }
  header nav .links {
    font-size: 1.2em;
    text-align: right;
  }
  header nav .links a {
    margin: 0 15px;
    color: #e1e1e1;
  }
  header nav .links a:hover {
    color: #fed259;
    transition: ease-in-out 0.2s;
  }
  header .banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5vh 8vw;
  }
  header .banner h1 {
    font-size: 4em;
    font-weight: 400;
    padding: 10vh 0 0 0;
  }
  header .banner h1 span {
    font-weight: 600;
  }
  header .banner .avatar img {
    width: 35vw;
    height: 35vw;
  }
  header .banner .avatar::before {
    width: 25vw;
    height: 25vw;
    top: 22vh;
  }
  header .banner-404 {
    width: 40%;
    height: 100vh;
    margin: 0 30%;
  }
  header .scroll {
    font-size: 2em;
    padding-bottom: 30vh;
  }
  header .scroll h1 {
    font-size: 0.5em;
  }
  .acc {
    display: grid;
    grid-column: 1fr;
    position: fixed;
    bottom: 0;
    grid-gap: 0.5vw;
    width: 2vw;
    left: 3vw;
  }
  .acc * {
    font-size: 1.4em;
  }
  .acc a:first-child {
    font-size: 1em;
  }
  .acc a:first-child::before {
    width: 0.3em;
    height: 0.3em;
    left: 50%;
    margin-left: -0.14em;
    margin-top: -0.3em;
  }
  .acc a:first-child:hover::before {
    opacity: 1;
    background: #fed259;
  }
  .acc .line {
    height: 10vh;
  }
  .container h1 {
    font-size: 8em;
    line-height: 0.3em;
    margin-bottom: 15vh;
  }
  .container h1 span {
    color: #fed259;
    font-size: 0.3em;
  }
  .container h2 {
    font-size: 3em;
    font-weight: 500;
  }
  .container h3 {
    font-size: 1.3em;
    font-weight: 400;
  }
  .container h4 {
    font-size: 1em;
    font-weight: 300;
  }
  .container .skill {
    padding: 30vh 8vw;
  }
  .container .skill .cards {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15vh 10vw;
    grid-gap: 5vw;
  }
  .container .skill .cards .card {
    padding: 2vh 2vw 15vh;
    border-radius: 20px;
  }
  .container .skill .cards .card h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10vh;
  }
  .container .skill .cards .card h2 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 1em 0 0.4em;
  }
  .container .skill .cards .card .pr-border {
    height: 0.7vh;
  }
  .container .work {
    padding: 50vh 8vw;
    text-align: center;
  }
  .container .work h1 {
    text-align: left;
  }
  .container .work *:nth-child(even) {
    position: relative;
    top: 30%;
  }
  .container .work .cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: 0 0 10vh;
    text-align: left;
  }
  .container .work .cards .card {
    padding-top: 25vh;
    border-radius: 16px 16px 20px 20px;
  }
  .container .work .cards .card div {
    padding: 20vh 2vw 2vh;
    border-radius: 0px 0px 16px 16px;
  }
  .container .work .cards .card div h2 {
    font-size: 6em;
    font-weight: 700;
  }
  .container .work .cards .card div .label {
    font-size: 0.8em;
    font-weight: 700;
    margin: 0 0 1vh;
    padding: 0.2vh 0.5vw;
    border-radius: 10px;
  }
  .container .work .button {
    width: 12%;
    display: inline-block;
  }
  .container .work .button i {
    padding: 0 0 0 0.8vw;
  }
  .container .about {
    padding: 50vh 8vw;
  }
  .container .about .me {
    grid-template-columns: 1fr 1fr;
  }
  .container .about .desc h2 {
    margin: 0 0 6vh 0;
  }
  .container .about .desc h3 {
    font-size: 1.5em;
    margin: 0 0 8vh 0;
  }
  .container .about .desc .button_extra {
    width: 20vw;
  }
  .container .about .desc .button_extra span {
    padding-right: 0;
  }
  .container .about .desc .button_extra:hover span {
    padding-right: 20px;
  }
  .container .contact {
    padding: 40vh 8vw 50vh;
  }
  .container .contact h1 {
    margin-bottom: 8vh;
  }
  .container .contact .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .container .contact .form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2vh 1vw;
  }
  .container .contact .form form .name {
    grid-column: 1 1;
  }
  .container .contact .form form .email {
    grid-column: 1 1;
  }
  .container .contact .form form .subject {
    grid-column: 1/span 2;
  }
  .container .contact .form form .message {
    grid-column: 1/span 2;
  }
  .container .contact .form form input, .container .contact .form form textarea {
    border: 2px solid #3a3a3a;
    font-size: 1.2em;
  }
  .container .contact .form form input:focus, .container .contact .form form textarea:focus {
    border: 2px solid #fed259;
  }
  .container .contact .form form input {
    height: 3em;
    padding: 0 1vw;
  }
  .container .contact .form form textarea {
    height: 40vh;
    padding: 1vh 1vw;
  }
  .container .contact .form .map {
    height: 100%;
  }
  footer {
    margin: 50vh 0 0;
    padding: 15vh 10vw 0;
  }
  footer .background .colors {
    right: 3vw;
    bottom: 3vw;
  }
  footer .background .colors div {
    width: 1.5vw;
    height: 1.5vw;
  }
  footer .background .colors div:nth-child(2) {
    margin: 1.5vh 0;
  }
  footer .links {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  footer .links h1 {
    font-size: 1.8em;
    margin: 0 0 3vh 0;
  }
  footer .links a, footer .links p {
    margin: 1vh 0;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
  }
  footer .copyright {
    padding: 15vh 0 2vh;
    font-size: 1.2em;
  }
}
/*---------------------------------------- Small Screens ----------------------------------------*/
@media (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
  html .button, body .button {
    border: 3px solid #fed259;
    font-size: 1.4em;
    padding: 1vh 10vw;
  }
  html .big, body .big {
    display: none;
  }
  html .button_extra, body .button_extra {
    padding: 10px 0;
  }
  html .button_extra span, body .button_extra span {
    padding-right: 0;
  }
  html .button_extra:hover span, body .button_extra:hover span {
    padding-right: 20px;
  }
  html .easteregg, html .nowplaying, html .notification, body .easteregg, body .nowplaying, body .notification {
    top: 3vh;
    right: 2vw;
    width: 90vw;
    padding: 1vh 3vw;
    font-size: 0.9em;
  }
  html .easteregg button, html .nowplaying button, html .notification button, body .easteregg button, body .nowplaying button, body .notification button {
    padding-right: 5px;
  }
  header .button {
    margin-top: 8vh;
  }
  header .sidebar {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: 0.5s;
    transform: translateX(100%);
    background-image: linear-gradient(180deg, rgba(58, 58, 58, 0.98) 0%, rgba(58, 58, 58, 0.85) 50%, rgba(58, 58, 58, 0.98) 100%), url(../img/backgrounds/sidebarbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
  }
  header .sidebar button {
    font-size: 2em;
    margin: 2vh 5vw;
  }
  header .sidebar a, header .sidebar button {
    color: #e1e1e1;
    background: none;
    border: none;
  }
  header .sidebar a:hover, header .sidebar button:hover {
    color: #fed259;
    transition: ease-in-out 0.2s;
  }
  header .sidebar .container {
    padding: 0 5vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8vh;
    height: 60%;
    margin: 20% 0;
  }
  header .sidebar .container h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 2vh;
  }
  header .sidebar .container a {
    font-size: 1.5em;
    font-weight: 300;
  }
  header .sidebar .container div {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  header .sidebar .container .accounts {
    text-align: center;
    display: inline-block;
  }
  header .sidebar .container .accounts * {
    padding: 0 1vw;
    font-size: 1.4em;
  }
  header nav {
    position: fixed;
    width: -moz-available;
    width: -webkit-fill-available;
    grid-template-columns: 2fr 1fr;
    padding: 3vh 5vw;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.7529411765) 0%, rgba(17, 17, 17, 0) 100%);
    z-index: 100;
  }
  header nav::after {
    margin-top: 8vh;
    left: 10vw;
  }
  header nav .logo {
    font-size: 2em;
  }
  header nav .links {
    text-align: right;
    font-size: 1.5em;
  }
  header nav .links a, header nav .links button {
    margin: 0 15px;
    color: #e1e1e1;
  }
  header nav .links button {
    background: none;
    border: none;
    font-size: 0.8em;
  }
  header nav .links a:hover, header nav .links button:hover {
    color: #fed259;
    transition: ease-in-out 0.2s;
  }
  header .banner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 13vh 5vw 8vh;
    text-align: center;
  }
  header .banner h1 {
    font-size: 1.7em;
    font-weight: 400;
  }
  header .banner h1 span {
    font-weight: 600;
  }
  header .banner .avatar {
    padding-top: 5vh;
  }
  header .banner .avatar img {
    width: 70vw;
    height: 70vw;
  }
  header .banner .avatar::before {
    width: 50vw;
    height: 50vw;
    top: 38vh;
  }
  header .banner-404 {
    width: 90%;
    height: 100vh;
    margin: 0 5%;
  }
  header .scroll {
    font-size: 2em;
    padding-bottom: 30vh;
  }
  header .scroll h1 {
    font-size: 0.5em;
  }
  .acc {
    display: none;
  }
  .container h1 {
    font-size: 5em;
    line-height: 0.3em;
    margin-bottom: 15vh;
  }
  .container h1 span {
    color: #fed259;
    font-size: 0.4em;
  }
  .container h2 {
    font-size: 2em;
    font-weight: 500;
  }
  .container h3 {
    font-size: 1.2em;
    font-weight: 400;
  }
  .container h4 {
    font-size: 1em;
    font-weight: 300;
  }
  .container .skill {
    padding: 5vh 5vw;
    padding-bottom: 10vh;
  }
  .container .skill .cards {
    grid-template-columns: 1fr;
    padding: 10vh 0;
    grid-gap: 10vw;
  }
  .container .skill .cards .card {
    padding: 5vh 8vw 10vh;
    border-radius: 20px;
  }
  .container .skill .cards .card h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5vh;
  }
  .container .skill .cards .card h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em 0 0;
  }
  .container .skill .cards .card .pr-border {
    height: 0.8vh;
  }
  .container .work {
    padding: 50vh 5vw;
    text-align: center;
  }
  .container .work h1 span {
    display: inline-block;
  }
  .container .work .cards {
    grid-template-columns: 1fr;
    grid-gap: 15vw;
    padding: 0 0 6vh;
    text-align: left;
  }
  .container .work .cards .card {
    padding-top: 20vh;
    border-radius: 16px 16px 20px 20px;
  }
  .container .work .cards .card div {
    padding: 10vh 5vw 3vh;
    border-radius: 0px 0px 16px 16px;
  }
  .container .work .cards .card div h2 {
    font-size: 5em;
    font-weight: 700;
  }
  .container .work .cards .card div .label {
    font-size: 0.8em;
    font-weight: 700;
    margin: 0 0 1vh;
    padding: 0.2vh 2.2vw;
    border-radius: 10px;
  }
  .container .work .button {
    display: inline-block;
    width: 55%;
  }
  .container .work .button i {
    padding: 0 0 0 2vw;
  }
  .container .about {
    padding: 20vh 5vw;
    text-align: center;
  }
  .container .about h1 {
    display: inline-block;
    font-size: 4.5em;
  }
  .container .about .me {
    grid-template-columns: 100%;
  }
  .container .about .me .pfp {
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .container .about .me .pfp img {
    width: inherit;
  }
  .container .about .desc h2 {
    margin: 6vh 0;
    text-align: left;
  }
  .container .about .desc h3 {
    font-size: 1.5em;
    margin: 0 0 8vh 0;
    text-align: left;
  }
  .container .contact {
    padding: 50vh 5vw 30vh;
    text-align: center;
  }
  .container .contact h1 {
    font-size: 3.7em;
    margin-bottom: 5vh;
  }
  .container .contact .form form {
    margin-bottom: 5vh;
  }
  .container .contact .form form input, .container .contact .form form textarea {
    width: -webkit-fill-available;
    border: 2px solid #3a3a3a;
    font-size: 1.2em;
    margin: 1vh 0;
  }
  .container .contact .form form input:focus, .container .contact .form form textarea:focus {
    border: 2px solid #fed259;
  }
  .container .contact .form form input {
    height: 3em;
    padding: 0 5vw;
  }
  .container .contact .form form textarea {
    height: 30vh;
    padding: 2vh 5vw;
  }
  .container .contact .form form .button_extra {
    width: 100%;
  }
  .container .contact .form .map {
    height: 50vh;
    margin-top: 5vh;
  }
  footer {
    margin: 15vh 0 0;
    padding: 5vh 8vw 0;
  }
  footer .background .colors {
    display: none;
  }
  footer .links {
    grid-template-columns: 1fr 1fr;
  }
  footer .links h1 {
    font-size: 1.6em;
    margin: 5vh 0 3vh;
  }
  footer .links a, footer .links p {
    margin: 1vh 0;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
  }
  footer .links div:nth-child(5) {
    display: none;
  }
  footer .copyright {
    padding: 8vh 0 2vh;
    font-size: 1.2em;
  }
}
@keyframes link-animation {
  to {
    background-position: 200% center;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-10px);
  }
  0% {
    transform: translateY(-15px);
  }
}
@keyframes bounce-hover {
  100% {
    transform: translateY(-15px) rotate(360deg);
  }
  50% {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(-15px) rotate(0);
  }
}
.pr-animation {
  animation: progress 1s ease-out 1;
}

@keyframes progress {
  0% {
    width: 0;
  }
}
.fade-in {
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  0% {
    transform: translateY(-5vh);
    opacity: 0;
  }
}
/*---------------------------------------- DEFAULT ----------------------------------------*/
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  background: #3a3a3a;
  color: #e1e1e1;
}
html a, body a {
  cursor: pointer;
  text-decoration: none;
}
html .button, body .button {
  cursor: pointer;
  background-color: transparent;
  color: #fed259;
  font-weight: 700;
  transition: ease-in-out 0.1s;
}
html .button:hover, body .button:hover {
  background-color: #fed259;
  color: #3a3a3a;
}
html .link, body .link {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  font-weight: 500;
  background: linear-gradient(50deg, #fed259 20%, #ffedbd 40%, #ffedbd 60%, #fed259 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s ease-in-out;
}
html .link::before, body .link::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #fed259, #e1e1e1);
  transition: transform 0.25s ease-out;
}
html .link:hover, body .link:hover {
  cursor: pointer;
  animation: link-animation 1s linear infinite;
}
html .button_extra, body .button_extra {
  display: block;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
html .button_extra i, body .button_extra i {
  color: #3a3a3a;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
html .button_extra span, body .button_extra span {
  padding-right: 0;
  transition: all 0.2s ease-in-out;
}
html .button_extra:hover, body .button_extra:hover {
  transition: all 0.2s ease-in-out;
}
html .button_extra:hover span, body .button_extra:hover span {
  color: #3a3a3a;
  transition: all 0.2s ease-in-out;
}
html .button_extra:hover i, body .button_extra:hover i {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
html .error, body .error {
  color: #dd5353;
}
html .success, body .success {
  color: #fed259;
}
html .label, body .label {
  display: inline-block;
  background-color: #fed259;
  color: #404040;
}
html .label-light, body .label-light {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #fed259;
  color: #fed259;
}
html .red, body .red {
  background-color: #dd5353;
}
html .blue, body .blue {
  background-color: #537fdd;
}
html .light-blue, body .light-blue {
  background-color: #57e4e9;
}
html .green, body .green {
  background-color: #5af59a;
}
html .purple, body .purple {
  background-color: #8853dd;
}
html .pink, body .pink {
  background-color: #f182ad;
}
html .red-light, body .red-light {
  color: #dd5353;
  border-color: #dd5353;
}
html .blue-light, body .blue-light {
  color: #537fdd;
  border-color: #537fdd;
}
html .light-blue-light, body .light-blue-light {
  color: #57e4e9;
  border-color: #57e4e9;
}
html .green-light, body .green-light {
  color: #5af59a;
  border-color: #5af59a;
}
html .purple-light, body .purple-light {
  color: #8853dd;
  border-color: #8853dd;
}
html .pink-light, body .pink-light {
  color: #f182ad;
  border-color: #f182ad;
}
html .easteregg, html .nowplaying, html .notification, body .easteregg, body .nowplaying, body .notification {
  position: fixed;
  padding: 2vh 1vw;
  border-radius: 8px;
  background-color: #242424;
  z-index: 2000;
  transform: translate(0, -15vh);
  right: 1vh;
  transition: 0.3s ease-in-out;
}
html .easteregg *, html .nowplaying *, html .notification *, body .easteregg *, body .nowplaying *, body .notification * {
  color: #e1e1e1;
  background: none;
  border: none;
  font-size: 1.2em;
  display: inline;
}
html .easteregg button, html .nowplaying button, html .notification button, body .easteregg button, body .nowplaying button, body .notification button {
  padding-right: 15px;
}
html .easteregg span, html .nowplaying span, html .notification span, body .easteregg span, body .nowplaying span, body .notification span {
  font-size: 1em;
}
html .easteregg a, html .nowplaying a, html .notification a, body .easteregg a, body .nowplaying a, body .notification a {
  color: #fed259;
  font-weight: 300;
}
html .notification, body .notification {
  background-color: #5af59a;
}
html .notification h1, body .notification h1 {
  color: #3a3a3a;
}
html section, body section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
html header, body header {
  background-image: linear-gradient(180deg, rgba(58, 58, 58, 0.9) 0%, #3a3a3a 80%, #3a3a3a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
html header nav, body header nav {
  display: grid;
}
html header nav::after, body header nav::after {
  content: "";
  position: absolute;
  background: #e1e1e1;
  height: 1px;
  width: 80vw;
}
html header nav .logo a, body header nav .logo a {
  color: inherit;
}
html header .banner, body header .banner {
  color: #e1e1e1;
}
html header .banner-404, body header .banner-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
html header .banner-404 h1, body header .banner-404 h1 {
  margin: 0;
  font-size: 4em;
  font-weight: 400;
}
html header .banner-404 h1 span, body header .banner-404 h1 span {
  font-weight: 600;
}
html header .banner-404 h2, body header .banner-404 h2 {
  font-size: 1.2em;
  margin: 1vh 0 5vh;
}
html header .scroll, body header .scroll {
  width: 100vw;
  text-align: center;
}
html header .scroll a, body header .scroll a {
  display: inline-block;
  color: inherit;
}
html header .scroll a h1, body header .scroll a h1 {
  font-weight: 300;
}
html header .scroll a i, body header .scroll a i {
  animation: bounce 2s infinite;
}
html header .scroll a:hover i, body header .scroll a:hover i {
  animation: bounce-hover 1s infinite;
}
html .avatar, body .avatar {
  display: grid;
  grid-template-columns: 1fr;
}
html .avatar img, body .avatar img {
  z-index: 1;
}
html .avatar::before, body .avatar::before {
  content: "";
  position: absolute;
  background-color: #e1e1e1;
  transform: rotate(23deg);
  transition: ease 0.6s;
}
html .avatar:hover::before, body .avatar:hover::before {
  transform: rotate(228deg);
  background-color: #fed259;
  transition: ease 1.2s;
}
html .acc, body .acc {
  z-index: 3;
}
html .acc *, body .acc * {
  color: #e1e1e1;
}
html .acc *:hover, body .acc *:hover {
  transition: ease-in-out 0.2s;
  color: #fed259;
}
html .acc a:first-child::before, body .acc a:first-child::before {
  content: "";
  position: absolute;
  background: #e1e1e1;
  border-radius: 100%;
  opacity: 0;
}
html .acc a:first-child:hover::before, body .acc a:first-child:hover::before {
  background: #fed259;
  transition: ease-in-out 0.1s;
  opacity: 1;
}
html .acc .line, body .acc .line {
  content: "";
  width: 2px;
  background: #e1e1e1;
}
html .container h4, body .container h4 {
  color: #fed259;
}
html .container .skill h1, body .container .skill h1 {
  text-align: center;
}
html .container .skill h4 a, body .container .skill h4 a {
  cursor: pointer;
  text-decoration: underline;
}
html .container .skill a, html .container .skill #game, html .container .skill #blender, body .container .skill a, body .container .skill #game, body .container .skill #blender {
  color: inherit;
  cursor: default;
  transition: all ease-in-out 0.15s;
}
html .container .skill a:hover, html .container .skill #game:hover, html .container .skill #blender:hover, body .container .skill a:hover, body .container .skill #game:hover, body .container .skill #blender:hover {
  color: #fed259;
}
html .container .skill .link, body .container .skill .link {
  cursor: pointer;
}
html .container .skill .cards, body .container .skill .cards {
  display: grid;
}
html .container .skill .cards .card, body .container .skill .cards .card {
  background: linear-gradient(232deg, rgba(254, 210, 89, 0.1) 0%, #404040 40%);
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
html .container .skill .cards .card h1, body .container .skill .cards .card h1 {
  text-align: left;
}
html .container .skill .cards .card .pr-border, body .container .skill .cards .card .pr-border {
  width: 100%;
  background-color: #3a3a3a;
}
html .container .skill .cards .card .pr, body .container .skill .cards .card .pr {
  background: linear-gradient(90deg, #d8a847 0%, #fed259 50%, #fee08b 100%);
  height: 100%;
}
html .container .skill .cards .card:hover, body .container .skill .cards .card:hover {
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
html .container .work, body .container .work {
  background-image: linear-gradient(180deg, #3a3a3a 0%, rgba(58, 58, 58, 0.9) 50%, #3a3a3a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
html .container .work .cards, body .container .work .cards {
  display: grid;
}
html .container .work .cards *, body .container .work .cards * {
  height: -moz-fit-content;
  height: fit-content;
}
html .container .work .cards .card, body .container .work .cards .card {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.3);
  color: #e1e1e1;
  transition: ease-in-out 0.2s;
}
html .container .work .cards .card *, body .container .work .cards .card * {
  margin: 0;
}
html .container .work .cards .card div, body .container .work .cards .card div {
  background: linear-gradient(0deg, #404040 20%, rgba(64, 64, 64, 0.5) 70%, rgba(64, 64, 64, 0) 100%);
}
html .container .work .cards .card:hover, body .container .work .cards .card:hover {
  color: #e1e1e1;
  box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
}
html .container .about h1, body .container .about h1 {
  text-align: center;
}
html .container .about .me, body .container .about .me {
  display: grid;
  align-items: center;
}
html .container .about .me img, body .container .about .me img {
  border: 5px solid #fed259;
  height: auto;
}
html .container .contact, body .container .contact {
  background-image: linear-gradient(180deg, #3a3a3a 0%, rgba(58, 58, 58, 0.9) 50%, #3a3a3a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
html .container .contact .form form input, html .container .contact .form form textarea, body .container .contact .form form input, body .container .contact .form form textarea {
  font-family: "Source Code Pro", monospace;
  resize: none;
  border-radius: 15px;
  background: #3a3a3a;
  color: #e1e1e1;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}
html .container .contact .form form input:focus, html .container .contact .form form textarea:focus, body .container .contact .form form input:focus, body .container .contact .form form textarea:focus {
  outline: none;
}
html .container .contact .form form input::-moz-placeholder, html .container .contact .form form textarea::-moz-placeholder, body .container .contact .form form input::-moz-placeholder, body .container .contact .form form textarea::-moz-placeholder {
  font-family: "Source Code Pro", monospace;
  color: #bfbfbf;
  font-style: italic;
}
html .container .contact .form form input::placeholder, html .container .contact .form form textarea::placeholder, body .container .contact .form form input::placeholder, body .container .contact .form form textarea::placeholder {
  font-family: "Source Code Pro", monospace;
  color: #bfbfbf;
  font-style: italic;
}
html .container .contact .form form .button, body .container .contact .form form .button {
  grid-column: 2;
  margin-top: 3vh;
}
html .container .contact .form .map, body .container .contact .form .map {
  width: 100%;
  border: none;
  border-radius: 15px;
}
html footer, body footer {
  display: grid;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(180deg, rgba(58, 58, 58, 0.9) 0%, rgba(58, 58, 58, 0.8) 50%, rgba(58, 58, 58, 0.9) 100%), url(../img/backgrounds/footerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
}
html footer .background, body footer .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
html footer .background .colors, body footer .background .colors {
  position: absolute;
  display: grid;
}
html footer .background .colors div, body footer .background .colors div {
  outline: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}
html footer .background .colors div:hover, body footer .background .colors div:hover {
  outline: 2px solid white;
  transition: all 0.1s ease-in-out;
}
html footer .background .colors #accent, body footer .background .colors #accent {
  background-color: #fed259;
}
html footer .background .colors #background, body footer .background .colors #background {
  background-color: #3a3a3a;
}
html footer .background .colors #text, body footer .background .colors #text {
  background-color: #e1e1e1;
}
html footer .links, body footer .links {
  display: grid;
  z-index: 2;
  color: #e1e1e1;
}
html footer .links div *, body footer .links div * {
  color: #e1e1e1;
}
html footer .links div h1, body footer .links div h1 {
  font-family: "Bitter", serif;
}
html footer .links div a, html footer .links div p, body footer .links div a, body footer .links div p {
  display: table;
  font-family: "Roboto", sans-serif;
}
html footer .links div a, body footer .links div a {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
html footer .links div a:hover, body footer .links div a:hover {
  color: #fed259;
  transition: all 0.2s ease-in-out;
}
html footer .copyright, body footer .copyright {
  z-index: 2;
  font-family: "Source Code Pro", monospace;
  text-align: center;
}/*# sourceMappingURL=main.css.map */