@import 'vars';

@import 'desktop';
@import 'mobile';

@import 'animation';


/*---------------------------------------- DEFAULT ----------------------------------------*/
html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  background: $bg;
  color: $white;

  a{
    cursor: pointer;
    text-decoration: none;
  }

  .button{
    cursor: pointer;
    background-color: transparent;
    color: $accent;
    font-weight: 700;

    transition: ease-in-out 0.1s;

    &:hover{
      background-color: $accent;
      color: $bg;
    }

  }

  .link{   
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;

    font-weight: 500;
    background: -webkit-linear-gradient(50deg, $accent, #ffa127);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: 0.2s ease-in-out;

    &::before{
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      transform: translateY(calc(100% - 2px));
      width: 100%;
      height: 100%;
      background-image: linear-gradient(60deg, $accent, $white);
      transition: transform .25s ease-out;
    }

    &:hover{
      cursor: pointer;
      background: -webkit-linear-gradient(100deg, $accent, $white);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  .button_extra {
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
  
    i {
      color: $bg;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  
    span {
      padding-right: 0;
      transition: all 0.2s ease-in-out;
    }
  
    &:hover {
      transition: all 0.2s ease-in-out;
  
      span {
        color: $bg;
        transition: all 0.2s ease-in-out;
      }
  
      i {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .error{
    color: #dd5353;
  }
  .success{
    color: $accent;
  }

  .label{
    display: inline-block;
    background-color: $accent;
    color: $light-bg;
  }
  .label-light{
    display: inline-block;
    background-color: transparent;
    border: 2px solid $accent; 
    color: $accent;
  }

  .red{
    background-color: #dd5353;
  }
  .blue{
    background-color: #537fdd;
  }
  .light-blue{
    background-color: #57e4e9;
  }
  .green{
    background-color: #5af59a;
  }
  .purple{
    background-color: #8853dd;
  }
  .pink{
    background-color: #f182ad;
  }

  .red-light{
    color: #dd5353;
    border-color: #dd5353;
  }
  .blue-light{
    color: #537fdd;
    border-color: #537fdd;
  }
  .light-blue-light{
    color: #57e4e9;
    border-color: #57e4e9;
  }
  .green-light{
    color: #5af59a;
    border-color: #5af59a;
  }
  .purple-light{
    color: #8853dd;
    border-color: #8853dd;
  }
  .pink-light{
    color: #f182ad;
    border-color: #f182ad;
  }

  
  .easteregg,.nowplaying,.notification{
    position: fixed;
    padding: 2vh 1vw;
    border-radius: 8px;
    background-color: #242424;
    z-index: 2000;

    transform: translate(0,-15vh);
    right: 1vh;
    transition: 0.3s ease-in-out;

    *{
      color: $white;
      background: none;
      border: none;
      font-size: 1.2em;
      display: inline;
    }
    button{padding-right: 15px;}
    span{
      font-size: 1em;
    }
    a{
      color: $accent;
      font-weight: 300;
    }

  }

  .notification{
    background-color: #5af59a;
    h1{
      color: $bg;
    }
  }

  header{

    background-image: linear-gradient(180deg, rgba($bg ,0.9) 0%, rgba($bg ,1) 80%, rgba($bg ,1) 100%),
    url(../img/backgrounds/mainbg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    nav{
      display: grid;

      &::after {
        content: "";
        position: absolute;
        background: $white;
        height: 1px;
        width: 80vw;
      }

      .logo{
        a{
          color: inherit;
        }
      }

    }

    .banner{
      color: $white;
    }

    .banner-404{
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      h1{
        margin: 0;

        font-size: 4em;
        font-weight: 400;

        span{
          font-weight: 600;
        }

      }

      h2{
        font-size: 1.2em;
        margin: 1vh 0 5vh;
      }

    }

    .scroll{
      width: 100vw;
      text-align: center;

      a{
        display: inline-block;
        color: inherit;
        h1{
          font-weight: 300;
        }
  
        i{
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
        }

        &:hover{
          i{
            -moz-animation: bounce-hover 1s infinite;
            -webkit-animation: bounce-hover 1s infinite;
            animation: bounce-hover 1s infinite;
          }
        }
      }
    }

  }
  
  
  .avatar{
    display: grid;
    grid-template-columns: 1fr;

    img{
      z-index: 1;
    }

    &::before{
      content: '';
      position: absolute;
      background-color: $white;
      transform: rotate(23deg);
      transition: ease 0.6s;
    }

    &:hover::before{
      transform: rotate(228deg);
      background-color: $accent;
      transition: ease 1.2s;
    }

  }

  
  .acc{
    z-index: 3;
    
    *{
      color: $white;
      &:hover{
        transition: ease-in-out 0.2s;
        color: $accent;
      }
    }

    

    a:first-child{
      
      &::before{
        content: '';
        position: absolute;
        background: $white;
        border-radius: 100%;
        opacity: 0;
      }

      &:hover::before{
        background: $accent;
        transition: ease-in-out 0.1s;
        opacity: 1;
      }
      
    }

    .line{
      content: '';
      width: 2px;
      background: $white;
    }

  }


  .container{
    h4{
      color: $accent;
    }

    .skill{
      h1{
        text-align: center;
      }
      h4{
        a{
          cursor: pointer;
          text-decoration: underline;
        }
      }
      a{
        color: inherit;
        cursor: default;
        transition: all ease-in-out 0.15s;
        &:hover{
          color: $accent;
        }
      }

      .link{
        cursor: pointer;
      }

      .cards{
        display: grid;

        .card{
          background: linear-gradient(232deg, rgba($accent,0.1) 0%, rgba($light-bg ,1) 40%); 

          @include shadow(0px,0px,30px,-5px,rgba(0,0,0,0.1));
          
          h1{
            text-align: left;
          }

          .pr-border{
            width: 100%;
            background-color: $bg;
          }
          .pr{
            background-color: $accent;
            height: 100%;
          }
        }

      }
    }


    .work{
      background-image: linear-gradient(180deg, rgba($bg ,1) 0%, rgba($bg ,0.9) 50%, rgba($bg ,1) 100%),
      url(../img/backgrounds/workbg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .cards{
        display: grid;

        *{
          height: fit-content;
        }

        .card{
          
          cursor: pointer;

          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;

          @include shadow(0px,0px,30px,-5px,rgba(0,0,0,0.3));

          color: $white;

          transition: ease-in-out 0.2s;

          *{
            margin: 0;
          }

          div{
            background: linear-gradient(0deg, $light-bg 20%, rgba($light-bg , 0.5) 70%, rgba($light-bg ,0) 100%);

          }
  
          &:hover{
            color: $white;

            @include shadow(0px,0px,35px,-5px,rgba(0,0,0,0.5));

            transition: ease-in-out 0.5s;
          }
  
        }
      }

    }


    .about{
      h1{
        text-align: center;
      }

      .me{
        display: grid;
        align-items: center;
        
        img{
          border: 5px solid $accent;
          height: auto;
        }
      }
    }


    .contact{
      background-image: linear-gradient(180deg, rgba($bg ,1) 0%, rgba($bg ,0.9) 50%, rgba($bg ,1) 100%),
      url(../img/backgrounds/contactbg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .form{
        form{
          input, textarea{
            font-family: 'Source Code Pro', monospace;
            resize: none;
            border-radius: 15px;
            background: $bg;
            color: $white;

            @include shadow(0,0,15px,1px,rgba(0,0,0,0.2));
  
            &:focus{
              outline: none;
            }
  
            &::placeholder{
              font-family: 'Source Code Pro', monospace;
              color: $gray;
              font-style: italic;
            }
          }

          .button{
            grid-column: 2;
            margin-top: 3vh;
          }
        }

        .map{
          width: 100%;
          border: none;
          border-radius: 15px;
        }

      }

    }


  }


  footer{
    display: grid;
    position: relative;
    overflow: hidden;
    
    background-image: linear-gradient(180deg, rgba($bg ,0.9) 0%, rgba($bg ,0.8) 50%, rgba($bg ,0.9) 100%),
    url(../img/backgrounds/footerbg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include shadow(0,0,35px,0,rgba(0,0,0,0.1));

    .background{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;

      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);

      .colors{
        position: absolute;
        display: grid;

        div{
          outline: 2px solid transparent;
          transition: all 0.5s ease-in-out;
          &:hover{
            outline: 2px solid white;
            transition: all 0.1s ease-in-out;
          }
        }

        #accent{ background-color: $accent; }
        #background{ background-color: $bg; }
        #text{ background-color: $white; }

      }

    }

    .links{
      display: grid;
      z-index: 2;

      color: $white;

      div {

        *{
          color: $white;
        }

        h1{
          font-family: 'Bitter', serif;
        }

        a, p{
          display: table;
          font-family: 'Roboto', sans-serif;
        }

        a{
          cursor: pointer;

          transition: all 0.2s ease-in-out;

          &:hover{
            color: $accent;
            transition: all 0.2s ease-in-out;
          }

        }
        
      }
    }

    .copyright{
      z-index: 2;
      font-family: 'Source Code Pro', monospace;
      text-align: center;
    }

  }


}
